.App{
  margin:50px;
}

.personal-list, .search-results{
  width: 40%;  
  margin: 50px;
}
.app-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-food>form{
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: steelblue;
  color: white;
}

.add-food> form>button{
  margin-top: 20px;
  padding: 10px;
  border-radius: 250px;
  font-size: 1.2em;
  font-weight: bold;
}
h3{
  font-size: 2em !important;
  font-weight: bold !important;
}